<!DOCTYPE html>
<html>

<head>
    <title> @ high game</title>
    <!-- <meta name='viewport' content="width=device-width, initial-scale=1" /> -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/manage.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<div class="list-group list-plawin">
				<a class="list-group-item active" href="#">Current TIME ZONE</a><a class="list-group-item serch-league" href="#"> 
				<input id="date-time" type="date" style="width:100%;height:28px;"></a>
			</div>
		<!-- <input type="date" name="" id="date-time" class="form-control" value="today"> -->
		<div class="btn-group btn-phawin" role="group" aria-label="...">
			<button class="btn btn-default btn-phawin-group" type="button">Early</button>
			<button class="btn btn-default btn-phawin-group" onclick="selectView('nonlive')" type="button">Non-Live</button>
			<button class="btn btn-default btn-phawin-group" onclick="selectView('live')" type="button">Live</button>
		</div>
		<!-- input#date-time(type='date',style={'width': '100%','height':'28px;'},value=today) -->
		<h5 class="text-center">Select Team</h5>
			<div class="list-group list-scroll" id="count-leagues">
				
			</div>
		</div>
		<div class="col-md-10">
		<h3 id="text-team" class="pull-right"></h3>
		<div class="clearfix"></div>
		<div role="tabpanel">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#hdp" aria-controls="hdp" role="tab" data-toggle="tab">hdp</a>
				</li>
				<li role="presentation">
					<a href="#fhdp" aria-controls="fhdp" role="tab" data-toggle="tab">fhdp</a>
				</li>
				<li role="presentation">
					<a href="#goal" aria-controls="goal" role="tab" data-toggle="tab">goal</a>
				</li>
				<li role="presentation">
					<a href="#fgoal" aria-controls="fgoal" role="tab" data-toggle="tab">fgoal</a>
				</li>
			</ul>
		
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="hdp">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Time</th>
								<th>Duration</th>
								<th>Odd</th>
								<th>Odd</th>
								<th>Score</th>
								<th> - </th>
							</tr>
						</thead>
						<tbody id="dutaion-hdp">
							
						</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="fhdp">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Time</th>
								<th>Duration</th>
								<th>Odd</th>
								<th>Odd</th>
								<th>Score</th>
								<th> - </th>
							</tr>
						</thead>
						<tbody id="dutaion-fhdp">
							
						</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="goal">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Time</th>
								<th>Duration</th>
								<th>Odd</th>
								<th>Odd</th>
								<th>Score</th>
								<th> - </th>
							</tr>
						</thead>
						<tbody id="dutaion-goal">
							
						</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="fgoal">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Time</th>
								<th>Duration</th>
								<th>Odd</th>
								<th>Odd</th>
								<th>Score</th>
								<th> - </th>
							</tr>
						</thead>
						<tbody id="dutaion-fgoal">
							
						</tbody>
					</table>
				</div>
			</div>
		</div>

		</div>
	</div>
</div>
</body>
<script type="text/javascript">
	
	$(document).ready(function() {
		// $('#date-time').defaultValue	
	});

	$('#date-time').change(function(event) {
		/* Act on the event */
		const $dateElement = $('#date-time');
  		const date = formatDate($dateElement.val());
  		console.log(date)
	});

	function formatDate(date = null) {
		const d = new Date(date);
		const year = `${d.getFullYear()}`;
		let month = `${(d.getMonth() + 1)}`;
		let day = `${d.getDate()}`;

		if (month.length < 2) month = `0${month}`;
		if (day.length < 2) day = `0${day}`;

		return [year, month, day].join('-');
	}

	function selectView(view = 'nonlive') {
	  const $dateElement = $('#date-time');
	  const $numLeagues = $('#count-leagues');
	  const date = formatDate($dateElement.val());
	  $.post(`/matchesDetail/${date}/${view}`)
	  .done( function(data) {
	  	console.log(data);
	    const team = data;
	    const $leaguesElement = $('#count-leagues');
	    let $newLeagueElement = '';
	    for(const index in team) {
	    $newLeagueElement += `<button type="button" class="list-group-item odd-listgroup" onclick="getmatches('${team[index]._id}')"> ${team[index].home} - ${team[index].away}</button>`;
	    }
	    $numLeagues.html(`Leagues (${team.length})`)
	    $leaguesElement.html($newLeagueElement);
	  });
	}

	function getmatches(match_id) {
		let $team; 
		const hmColor = [];

		$.post(`/matches/${match_id}`, 
			function(data, textStatus, xhr) {
			/*optional stuff to do after success */
			console.log(data);
			$team = `<span style="color:${data.homeColor}">${data.home}</span> -vs- <span style="color:${data.awayColor}">${data.away} </span>`
			$.each(['hdp','fhdp','goal','fgoal'], function(index, val) {
				let $html;
				 /* iterate through array or object */
				$.each(data[`${val}`], function(index, val) {
					 /* iterate through array or object */
					$html += `<tr>`
					$html += `<td>${val.time}</td>`
					$html += `<td>${val.duration}</td>`
					$html += `<td>${(val.odd >= 0 ? val.odd:'')}</td>`
					$html += `<td>${(val.odd < 0 ? val.odd:'')}</td>`
					$html += `<td>${val.score}</td>`
					$html += `<td>${val.odddetail}</td>`
					$html += `</tr>`;
					// console.log(val)
				});
				$(`#dutaion-${val}`).html($html)
			});
			$('#text-team').html($team)
		});
	}
	
</script>
</html>