.odd-listgroup {
	font-size: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    width: 163px;
    text-overflow: ellipsis;
}

.list-group-item  > span {
	font-size: 10px;
}

.list-scroll{
	max-height: 800px;
    overflow-y:scroll; 
}
.table-scroll{
	font-size: 9px;
}
.grap-style{
    height: 300px;
    width: 100%;
}